.mdui-radio {
    padding-left: 22px;
    margin-left: 8px;
}

.mdui-container {
    margin-top: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.time {
    width: 100%;
    font-size: 18rem;
}

.mdui-container {
    max-width: 2160px;
}

.footer {
    margin-top:5rem;
    text-align: center;
    font-size: 1.2rem;
}

.mdui-progress {
    margin: -20px -8px auto -8px;
    width: auto;
    background-color:  #FCE4EC !important
}

.mdui-progress-determinate {
    background-color:#FF4081 !important
}